body {
  padding: 0;
  margin: 0;
}

/* Logo */
.logo img {
  max-width: 100px;
  height: auto;
}

/* header */
header {
  position: fixed; /* Add this line to make the header fixed */
  top: 0; /* Stick it to the top of the viewport */
  background-color: black;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%; /* Take up the full width of the viewport */
  overflow: hidden;
  z-index: 1000; /* Add z-index to control its stacking order */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  font-weight: bold;
}

nav ul li {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* Convert the navigation menu into a mobile-friendly menu */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: larger;
}

nav a:hover {
  color: rgb(102, 99, 99);
  font-size: 18px;
}

/* home */
.homepage-image {
  position: relative;
  max-width: 100%;
  text-align: center;
}

.homepage-image img {
  max-width: 100%;
  height: min-content;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.image-text {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 30px;
}

.image-text h1 {
  font-size: 50px;
  font-weight: bolder;

  @media (max-width: 480px) {
    font-size: 20px;
    font-weight: bolder;
  }

  @media (max-width: 320px) {
    font-size: 16px;
    font-weight: bolder;
  }
}

.image-text p {
  font-size: 18px;

  @media (max-width: 480px) {
    font-size: 16px;
  }

  @media (max-width: 320px) {
    font-size: 14px;
  }
}

.read-more-button {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 60px;
  background-color: bisque;
  border-radius: 4px;

  @media (max-width: 320px) {
    padding: 8px 12px;
    font-size: 12px;
  }
}

.read-more-button:hover {
  background-color: rgb(66, 65, 65);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  color: rgb(255, 255, 255);
}
/* footer */
footer {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
}

.footer-content li {
  display: inline;
  margin-right: 10px;
}

.footer-content a {
  text-decoration: none;
  color: white;
}

.footer-content a:hover {
  text-decoration: underline;
}
